/* Basic Styling */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Website Color Scheme */
:root {
  --Primary1: #d7cec7;
  --Spare-color: #c09f80;
  --text-color: #565656;
  --hover-color: #76323f;
}

body {
  background-color: var(--Primary1);
  font-family: "Open Sans", sans-serif;
  position: relative;
  min-height: 100vh;
}

h1 {
  color: var(--hover-color);
  text-align: center;
  padding: 4rem 0 2rem 0;
  font-weight: 500;
}

p,
h2 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 10px 30px 30px 30px;
  color: var(--text-color);
  text-align: justify;
}

h2 {
  text-align: center;
}

/* NavBar for Mobile*/

.hamburger {
  cursor: pointer;
  padding-left: 1rem;
  padding-top: 1rem;
}

#nav-item li {
  display: none;
}

#nav-item.show li {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-color);
  padding-right: 1rem;
}

/*Nav Items in Hover State*/
.nav-list a:hover {
  color: var(--hover-color);
  background-color: var(--Primary1);
  border-radius: 20px;
  padding: 5px 5px;
}

/*NavBar for Desktop*/
@media (min-width: 750px) {
  .hamburger {
    display: none;
  }

  .nav-list ul {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    background-color: var(--Spare-color);
    position: fixed;
    z-index: 100; /* sets navbar to top*/
    top: 0;
    width: 100%;
  }

  #nav-item li {
    display: block;
  }
}
/*Homepage layout (index.html)*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Img-Joe {
  border-radius: 50%;
  width: 150px;
}

.input_text_design {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_text_design input {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: transparent;
  border: 0.5px solid var(--Spare-color);
}

/*Removes placeholder when clicked*/
input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

/*All Website Buttons*/

.btn-design button {
  margin: 1rem 1rem 1rem 0;
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid var(--text-color);
  color: var(--text-color);
  background-color: transparent;
}

button:hover,
.input_text_design input:hover {
  cursor: pointer;
  font-weight: bold;
}

.thumbs-buttons,
.btn-design {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.thumbs-buttons .fa,
.num-of-likes {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}
/*All Website Buttons End*/

/*Why Me Page.html*/

.text-design-link {
  padding: 0;
  color: var(--hover-color);
  font-weight: 500;
}

.text-design-link:hover {
  text-decoration: underline;
}

/*Media Query for the Why Me page - Desktop view*/
@media (min-width: 950px) {
  p,
  h2 {
    margin: 0 10rem 0 10rem;
  }
}

/*Image-Slider - My Projects Page*/

.centre-container {
  display: flex;
  justify-content: center;
}

.slider-container {
  overflow: hidden;
  width: 600px; /* Set size of container*/
  height: 400px;
  position: relative;
  border: 0.5px solid gray;
  border-radius: 5px;
  margin-top: 20px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.slide img {
  object-fit: fill;
  max-width: 100%;
  height: 400px; /* Same height as image container*/
  opacity: 0.8;
}

.Image-info {
  position: absolute;
  bottom: 0px;
  background-color: var(--Spare-color);
  width: 100%;
}

.Image-info-container {
  margin-bottom: 0.5rem;
}
.Image-info-container a {
  padding: 3px;
  margin-left: 0.5rem;
  border-radius: 1rem;
  border: 1px solid var(--text-color);
  background-color: var(--Primary1);
  cursor: pointer;
  font-size: 0.8rem;
  color: var(--hover-color);
}

.Image-info-container a:hover {
  font-weight: bold;
}

.Image-info-container p {
  margin-left: 0.5rem;
  padding: 0;
  font-weight: bold;
}

/*Footer Section*/
footer {
  color: var(--text-color);
  background-color: var(--Spare-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  padding: 0.2rem;
}

footer a {
  padding: 0;
  padding-left: 10px;
}
