/* Basic Styling */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Website Color Scheme */
:root {
  --Primary1: #d7cec7;
  --Spare-color: #c09f80;
  --text-color: #565656;
  --hover-color: #76323f;
}

body {
  background-color: var(--Primary1);
  font-family: "Open Sans", sans-serif;
  position: relative;
  min-height: 100vh;
}

h1 {
  color: var(--hover-color);
  text-align: center;
  padding: 2rem 0 2rem 0;
  font-weight: 500;
}

p,
h2 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 10px 30px 30px 30px;
  color: var(--text-color);
  text-align: justify;
}

h2 {
  text-align: center;
}

h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
 }

 a {
   text-decoration: none;
   color: var(--text-color);
 }

/* NavBar for Mobile */
.hamburger {
  cursor: pointer;
  padding-top: 1rem;
  padding-left: 1rem;
}

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--Spare-color);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    font-size: 1.5rem;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: var(--hover-color);
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 20px;
  }
  
/*NavBar for Desktop View*/
@media (min-width: 750px) {
  .hamburger {
    display: none;
  }

  .overlay ul {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    margin-top: 0;
    background-color: var(--Spare-color);
    z-index: 2;  /* sets navbar to top*/
    list-style: none;
  }

  .overlay ul a {
    font-size: 1rem;
    padding: 8px;
  }

  h1 {
    padding-top: 4rem;
   }

   .overlay {
    height: 0%;
   }
}

/*Homepage layout (index.html)*/
header,
.input_text_design {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-style: italic;
}

.greet {
  text-align: center;
}

.Img-Joe {
  border-radius: 50%;
  width: 150px;
}

.input_text_design input {
  width: 300px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: transparent;
  border: 0.5px solid var(--Spare-color);
}

/*Removes placeholder when clicked*/
input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
}

/*All Website Buttons*/

.btn-design button {
  margin: 1rem 1rem 1rem 0;
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid var(--text-color);
  color: var(--text-color);
  background-color: transparent;
}

.btn-design .carousel-button-prev,
.btn-design .carousel-button-next {
  border-radius: 50%;
  padding: 0.5rem;
}

.btn-design .carousel-button-prev:hover,
.btn-design .carousel-button-next:hover {
  color: var(--hover-color);
  border: 0.5px solid var(--hover-color);
  background-color: var(--Spare-color);
}

button:hover,
.input_text_design input:hover,
.thumbs-buttons {
  cursor: pointer;
  font-weight: bold;
}

.thumbs-buttons,
.btn-design {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbs-buttons .fa,
.num-of-likes {
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--text-color);
}
/*All Website Buttons End*/

/*Why Me Page.html*/
.hover-color {
  color: var(--hover-color);
  font-weight: 500;
}

a.text-design-link {
  position: relative;
  font-weight: 500;
}

a.text-design-link:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--hover-color);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.text-design-link:hover::before {
  visibility: visible;
  width: 100%;
  color: var(--hover-color);
}

/*Media Query for the Why Me page - Desktop view*/
@media (min-width: 950px) {
  p,
  h2 {
    margin: 0 10rem 0 10rem;
  }
}

/*START - Image-Slider - My Projects Page*/

.centre-container {
  display: flex;
  justify-content: center;
}

.slider-container {
  overflow: hidden;
  width: 350px; /* Set size of container*/
  height: 240px;
  position: relative;
}

/* Image Slider - DESKTOP VIEW*/
@media (min-width: 500px) {
  .slider-container {
    width: 600px; /* Set size of container*/
    height: 400px;
  }
}

.slide {
  position: absolute;
  width: 100%;

  transition: all 0.5s ease-in-out;
}

.slide img {
  object-fit: fill;
  max-width: 100%;
  height: 100%; /* Same height as image container*/
}

.Image-info-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.Image-info-container .Image-info {
  position: absolute;
  bottom: 0;
  background-color: var(--Spare-color);
  opacity: 0.9;
  width: 100%;
  padding: 10px;
}

.Image-info-container a {
  padding: 3px 7px;
  border-radius: 1rem;
  border: 0.5px solid var(--text-color);
  font-size: 0.8rem;
}

.Image-info-container a:hover {
  color: var(--hover-color);
  background-color: var(--Primary1);
}

.Image-info-container p {
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
  font-weight: bold;
  text-align: left;
}

.comments_section {
  border: 0.5px solid var(--text-color);
  border-radius: 10px;
  min-width: 300px;
  height: 150px;
  overflow: scroll;
}
.comments_section p {
  font-size: 0.7rem;
  text-align: center;
}

.btn-design #comment-button {
  margin-bottom: 3rem;
}
.delete_btn {
  font-size: 0.5rem;
}
.comment {
  font-size: 1rem;
}

/*Footer Section*/
footer {
  color: var(--text-color);
  background-color: var(--Spare-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  padding: 0.2rem;
}

footer a {
  padding: 0;
  padding-left: 10px;
}
